{#
@author David Alexa <alexa.david@me.com>

Copyright (C) 2012-2013 CESNET

LICENSE TERMS

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions
are met:
1. Redistributions of source code must retain the above copyright
  notice, this list of conditions and the following disclaimer.
2. Redistributions in binary form must reproduce the above copyright
  notice, this list of conditions and the following disclaimer in
  the documentation and/or other materials provided with the
  distribution.
3. Neither the name of the Company nor the names of its contributors
  may be used to endorse or promote products derived from this
  software without specific prior written permission.

ALTERNATIVELY, provided that this notice is retained in full, this
product may be distributed under the terms of the GNU General Public
License (GPL) version 2 or later, in which case the provisions
of the GPL apply INSTEAD OF those given above.

This software is provided ``as is'', and any express or implied
warranties, including, but not limited to, the implied warranties of
merchantability and fitness for a particular purpose are disclaimed.
In no event shall the company or contributors be liable for any
direct, indirect, incidental, special, exemplary, or consequential
damages (including, but not limited to, procurement of substitute
goods or services; loss of use, data, or profits; or business
interruption) however caused and on any theory of liability, whether
in contract, strict liability, or tort (including negligence or
otherwise) arising in any way out of the use of this software, even
if advised of the possibility of such damage.
#}

{% extends 'FITNetopeerBundle::layout.html.twig' %}

{% block moduleJavascripts %}
	{% javascripts
	'@FITModuleLinuxBundle/Resources/public/js/*'
        '@FITModuleLinuxBundle/Resources/public/js/subsections/clock.js'
        '@FITModuleLinuxBundle/Resources/public/js/subsections/ntp.js'
        '@FITModuleLinuxBundle/Resources/public/js/subsections/dns.js'
        '@FITModuleLinuxBundle/Resources/public/js/subsections/authentication.js'
        '@FITModuleLinuxBundle/Resources/public/js/subsections/radius.js'
        '@FITModuleLinuxBundle/Resources/public/js/subsections/interfaces.js'
        '@FITModuleLinuxBundle/Resources/public/js/subsections/subsectionCommon.js'
        '@FITModuleLinuxBundle/Resources/public/js/subsections/modal.js'
	output='js/compiled/module-linux.js'
	%}
	<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}

{% block moduleStylesheet %}
	{% stylesheets
    'bundles/fitmodulelinux/bootstrap/css/bootstrap-theme.min.css'
    'bundles/fitmodulelinux/font-awesome/css/font-awesome.min.css'
    'bundles/fitmodulelinux/less/common.less'
	'bundles/fitmodulelinux/style/*'

	filter='cssrewrite'
	output='css/module-linux.css'
	%}
	<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}

{% block title %}Section {% if sectionName is defined and not(sectionName is empty) %}- {{ sectionName }}{% endif %}{% endblock title %}

{% block topMenu %}
    {{parent()}}    
{% endblock topMenu %}

{% block leftColumn %}
    {# {{parent()}}
    {# Previous<br>ARROW LEFT#}
    a
{% endblock leftColumn %}

{% block state %}
{% block singleContent %}
    <div id="block-linux-body">
        {% block linuxBody %}
        {% endblock linuxBody %}
    </div>
    <div id="block-linux-debugging">
        {% block linuxDebugging %}
            <hr class="cleaner" />
            {% if stateArr is defined and not(stateArr is empty) %}
                <button class="toggle-main-xml">Show xml</button>
                <div class="xml" style="display: none">
                    <pre class="prettyprint lang-xml">
                        {{ stateArr.asXml|trim }}
                    </pre>
                </div>
            {% endif %}
        {% endblock linuxDebugging %}
    </div>
{% endblock singleContent %}
{% endblock state %}

