{% extends 'FITModuleLinuxBundle::layout.html.twig' %}




{% block title %}Section {% if sectionName is defined and not(sectionName is empty) %}- {{ sectionName }}{% endif %}{% endblock title %}

{% set stateDefined = 'false' %}

{% block state %}
	{% block singleContent %}
            <h2>CLOCK</h2>
            <button>Show xml</button>
		{% if configSingleContent is defined %}

			{{ configSingleContent|raw }}

		{% else %}
                        
			<h1 class="left">{% if stateSectionTitle is defined %}{{ stateSectionTitle }}{% else %}Config &amp; State data{% endif %}</h1>
			{% if key is defined %}{{key}}{% endif %}
                        {% if stateArr is defined and not(stateArr is empty) %}
				<hr class="cleaner" />
                                <div class = "xml">
                                
                                {{ stateArr.asXml|trim }}
                                
                                </div>
                                
                                <div class="timezones-map">
                                {% for i in -11..11 %}
                                    
                                
    {% image '@FITModuleLinuxBundle/Resources/public/images/timezone00.jpeg' %}
    <img src="{{ asset_url }}" alt="timezone00"  class = "timezone {{i}}"/>
{% endimage %}
                                {% endfor %}
                              </div>
				
			{% endif %}

		{% endif %}
	{% endblock singleContent %}
{% endblock state %}

