{% extends 'FITModuleLinuxBundle::layout.html.twig' %}

{% block title %}
    Section{% if sectionName is defined and not(sectionName is empty) %}- {{ sectionName }}{% endif %}
{% endblock title %}

{% block linuxBody %}

    <h1 class="left">System - Linux bundle</h1>

    {% if stateArr is defined and not(stateArr is empty) %}
        <hr class="cleaner" />
        <div id="subsection-links">
          
            <ul>
                <li>
                    <a href="{{ path( 'system_identification', {"key":app.request.get('key')} ) }}" class = "subsection-active">
                        System identification
                        <img src="{{ asset('bundles/fitmodulelinux/images/icons/64_default.png' ) }}" alt="{{ 'dns icons' }}"  class="subsection-icon"/>       
                    </a>
                </li>

                <li>
                    <a href="{{ path( 'system_time_management', {"key":app.request.get('key'), "module": "system", "subsection": "clock"} ) }}" class = "subsection-active">
                        System time management
                        <img src="{{ asset('bundles/fitmodulelinux/images/icons/64_time.png' ) }}" alt="{{ 'dns icons' }}"  class="subsection-icon"/> 
                    </a>
                </li>
                
                <li>
                    <a href="{{ path( 'dns_resolver', {"key":app.request.get('key'), "module": "system", "subsection": "dns-resolver"} ) }}" class = "subsection-active">
                        DNS resolver
                        <img src="{{ asset('bundles/fitmodulelinux/images/icons/64_dns.png' ) }}" alt="{{ 'dns icons' }}"  class="subsection-icon"/>       
                    </a>
                </li>
                
                <li>
                    <a href="{{ path( 'radius_client', {"key":app.request.get('key')} ) }}" class = "subsection-active">
                        RADIUS Client
                        <img src="{{ asset('bundles/fitmodulelinux/images/icons/64_default.png' ) }}" alt="{{ 'dns icons' }}"  class="subsection-icon"/>       
                    </a>
                </li>
                
                <li>
                    <a href="{{ path( 'user_authentication', {"key":app.request.get('key')} ) }}" class = "subsection-active">
                        User authentication
                        <img src="{{ asset('bundles/fitmodulelinux/images/icons/64_default.png' ) }}" alt="{{ 'dns icons' }}"  class="subsection-icon"/>       
                    </a>
                </li>
                
                <li>
                    <a href="{{ path( 'system_control', {"key":app.request.get('key')} ) }}" class = "subsection-active">
                        System control
                        <img src="{{ asset('bundles/fitmodulelinux/images/icons/64_default.png' ) }}" alt="{{ 'dns icons' }}"  class="subsection-icon"/>       
                    </a>
                </li>
                
                <li>
                    <a href="#" class = "subsection-inactive">
                        Settings
                        <img src="{{ asset('bundles/fitmodulelinux/images/icons/64_settings.png' ) }}" alt="{{ 'dns icons' }}"  class="subsection-icon"/>       
                    </a>
                </li>
            </ul>

        </div>

    {% endif %}   

{% endblock linuxBody %}


