{#
@author David Alexa <alexa.david@me.com>

Copyright (C) 2012-2013 CESNET

LICENSE TERMS

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions
are met:
1. Redistributions of source code must retain the above copyright
  notice, this list of conditions and the following disclaimer.
2. Redistributions in binary form must reproduce the above copyright
  notice, this list of conditions and the following disclaimer in
  the documentation and/or other materials provided with the
  distribution.
3. Neither the name of the Company nor the names of its contributors
  may be used to endorse or promote products derived from this
  software without specific prior written permission.

ALTERNATIVELY, provided that this notice is retained in full, this
product may be distributed under the terms of the GNU General Public
License (GPL) version 2 or later, in which case the provisions
of the GPL apply INSTEAD OF those given above.

This software is provided ``as is'', and any express or implied
warranties, including, but not limited to, the implied warranties of
merchantability and fitness for a particular purpose are disclaimed.
In no event shall the company or contributors be liable for any
direct, indirect, incidental, special, exemplary, or consequential
damages (including, but not limited to, procurement of substitute
goods or services; loss of use, data, or profits; or business
interruption) however caused and on any theory of liability, whether
in contract, strict liability, or tort (including negligence or
otherwise) arising in any way out of the use of this software, even
if advised of the possibility of such damage.
#}

{% extends 'FITModuleLinuxBundle::layout.html.twig' %}
{% block title %}Section {% if sectionName is defined and not(sectionName is empty) %}- {{ sectionName }}{% endif %}{% endblock title %}

{% set stateDefined = 'false' %}

{% block state %}
	{% block singleContent %}
		
                        
			<h1 class="left">System</h1>
			
                        {% if stateArr is defined and not(stateArr is empty) %}
				<hr class="cleaner" />
                                <div id="subsection-buttons">
                                    
                                    {# Identificaton button#}
                                    {% set counter = 0 %}
                                    {% for key, element in stateArr %}
                                        {% if stateArr.key == "contact" %}
                                            {% set counter = 1 %}
                                        {% endif %}
                                        {% if stateArr.key == "hostname" %}
                                            {% set counter = 1 %}
                                        {% endif %}
                                        {% if stateArr.key == "location" %}
                                            {% set counter = 1 %}
                                        {% endif %}
                                    {% endfor %}
                                    {% if counter == 1 %}
                                        <a href="{{ path( 'system_identification', {"key":app.request.get('key')} ) }}" id = "subsection-active">
                                            System identification
                                        </a>
                                    {% endif %} 
                                    {% if counter == 0 %}
                                        <a href="{{ path( 'system_identification', {"key":app.request.get('key')} ) }}" onclick = "return false" id = "subsection-inactive">
                                            System identification
                                        </a>
                                    {% endif %} 
                                    
                                    {# Time management button#}
                                    {% set counter = 0 %}
                                    {% for key, element in stateArr %}
                                        {% if stateArr.key == "clock" %}
                                            {% set counter = 1 %}
                                        {% endif %}
                                            {% if stateArr.key == "ntp" %}
                                            {% set counter = 1 %}
                                        {% endif %}
                                    {% endfor %}
                                    {% if counter == 1 %}
                                        <a href="{{ path( 'system_time_management', {"key":app.request.get('key')} ) }}" id = "subsection-active">
                                            System time management
                                        </a>
                                    {% endif %} 
                                    {% if counter == 0 %}
                                        <a href="{{ path( 'system_time_management', {"key":app.request.get('key')} ) }}" onclick = "return false" id = "subsection-inactive">
                                            System time management
                                        </a>
                                    {% endif %} 
                                    
                                    {# DNS resolver button#}
                                    {% set counter = 0 %}
                                    {% for key, element in stateArr %}
                                        {% if stateArr.key == "dns-resolver" %}
                                            {% set counter = 1 %}
                                        {% endif %}
                                    {% endfor %}
                                    {% if counter == 1 %}
                                        <a href="{{ path( 'dns_resolver', {"key":app.request.get('key')} ) }}" id = "subsection-active">
                                            DNS resolver
                                        </a>
                                    {% endif %} 
                                    {% if counter == 0 %}
                                        <a href="{{ path( 'dns_resolver', {"key":app.request.get('key')} ) }}" onclick = "return false" id = "subsection-inactive">
                                            DNS resolver
                                        </a>
                                    {% endif %} 
                                    
                                    {# Radius button#}
                                    {% set counter = 0 %}
                                    {% for key, element in stateArr %}
                                        {% if stateArr.key == "radius" %}
                                            {% set counter = 1 %}
                                        {% endif %}
                                    {% endfor %}
                                    {% if counter == 1 %}
                                        <a href="{{ path( 'radius_client', {"key":app.request.get('key')} ) }}" id = "subsection-active">
                                            RADIUS Client
                                        </a>
                                    {% endif %} 
                                    {% if counter == 0 %}
                                        <a href="{{ path( 'radius_client', {"key":app.request.get('key')} ) }}" onclick = "return false" id = "subsection-inactive">
                                            RADIUS Client
                                        </a>
                                    {% endif %} 
                                    
                                    {# User authentication button#}
                                    {% set counter = 0 %}
                                    {% for key, element in stateArr %}
                                        {% if stateArr.key == "authentication" %}
                                            {% set counter = 1 %}
                                        {% endif %}
                                    {% endfor %}
                                    {% if counter == 1 %}
                                        <a href="{{ path( 'user_authentication', {"key":app.request.get('key')} ) }}" id = "subsection-active">
                                            User authentication
                                        </a>
                                    {% endif %} 
                                    {% if counter == 0 %}
                                        <a href="{{ path( 'user_authentication', {"key":app.request.get('key')} ) }}" onclick = "return false" id = "subsection-inactive">
                                            User authentication
                                        </a>
                                    {% endif %} 
                                    
                                    {# System control button#}
                                    <a href="{{ path( 'system_control', {"key":app.request.get('key')} ) }}" id = "subsection-active">
                                        System control
                                    </a>
                                    
                                </div>
                                
				
			{% endif %}

		
	{% endblock singleContent %}
{% endblock state %}


