<div class="system-time-management-clock">  
    <h2>Clock configuration</h2>

    <div id="clock-form">
        {% if formConfigClock is defined and formConfigClock is not null %}
            {% form_theme formConfigClock 'FITModuleLinuxBundle:Form:linuxFormTheme.html.twig' %}
            {{ form_start(formConfigClock) }}
            <div class="form-errors">
                {{ form_errors(formConfigClock) }}
            </div>
            <div class="hidden-form">
                {{ form_row(formConfigClock.timezoneUtcOffset, {'attr': {'class': 'timezone-offset'}}) }}
            </div>
            <div class="configuration-block">
                <h3>Timezone name</h3>
                {% if featureTimezoneName == false %}
                    <div class="warning-text">System hasn't timezone-name feature</div>
                {% else %}
                    {{ form_row(formConfigClock.timezoneName) }}
                {% endif %}
            </div>
            {{ form_end(formConfigClock, {'render_rest': false}) }}
        {% endif %}
    </div>
    <div class="configuration-block">
        <h3>Timezone offset</h3>
        <div class="timezones-map">
            {% for i in -11..13 %}
                <img src="{{ asset('bundles/fitmodulelinux/images/t' ~ i ~ '.png' ) }}" alt="{{ 'timezone' ~ i }}"  class="timezone-map timezone-offset-{{ i != 13 ? i*60 : '-660'}}" data-offset="{{ i != 13 ? i*60 : '-660'}}"/>
            {% endfor %}
        </div>
    </div>
</div>

