<div class="system-time-management-ntp">
    <h2>NTP servers configuration</h2>

    {% if featureNtp == false %}
        <div class="warning-text">System hasn't ntp feature</div>
    {% else %}
        <div id="ntp-form">
            {% if formConfigNtp is defined and formConfigNtp is not null %}
                {% form_theme formConfigNtp 'FITModuleLinuxBundle:Form:linuxFormTheme.html.twig' %}
                {{ form_start(formConfigNtp) }}
                <div class="form-errors">
                    {{ form_errors(formConfigNtp) }}
                </div>
                <span class="hidden-form">
                    {{ form_row(formConfigNtp.enabled) }}
                    {% include 'FITModuleLinuxBundle:SystemTimeManagement:ntpServerForm.html.twig' with {'formConfigNtp': formConfigNtp} %}
                </span>
                {{ form_end(formConfigNtp, {'render_rest': false}) }}
            {% endif %}
        </div>

        <div class="ntp-config-img">
            <div class="configuration-block">
                <h3>Enable synchronize the system clock with NTP server</h3>
                <div class="switch-ntp-buttons">
                    <button id="enable-ntp">Enable</button>
                    <button id="disable-ntp">Disable</button>
                </div>
            </div>

            <div class="configuration-block">
                <h3>Servers</h3>
                <div class="ntp-servers">
                    {% for server in formConfigNtp.server %}
                        <div class="ntp-server existing-server {{ 'server-' ~ server.vars.value.name}} {{formConfigNtp.vars.value.enabled == 'true' ? 'link-active' : 'link-inactive'}}" data-path="{{path('get_server_modal_form', {"key": app.request.get('key')})}}">
                            <span class='server-name'>{{server.vars.value.name}}</span>
                            <br>
                            <i class="fa fa-server fa-3x" aria-hidden="true"></i>
                        </div>
                    {% endfor %}
                    <div class="ntp-server new-server {{formConfigNtp.vars.value.enabled == 'true' ? 'link-active' : 'link-inactive'}}" data-path="{{path('get_server_modal_form', {"key": app.request.get('key')})}}">
                        <span class='server-name'>New Server</span>
                        <br>
                        <i class="fa fa-plus-circle fa-3x" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>