{% for server in formConfigNtp.server %}
    <div class="server-subform {{ 'server-' ~ server.vars.value.name}}">
        {{ form_row(server.name) }}
        {{ form_row(server.udp.address) }}
        {{ form_row(server.udp.port) }}
        {{ form_row(server.associationType) }}
        {{ form_row(server.iburst) }}
        {{ form_row(server.prefer) }}
    </div>
{% endfor %}

