{% extends 'FITModuleLinuxBundle::layoutSubsection.html.twig' %}

{% block linuxBodyTitle %}

    <h1>DNS resolver</h1>
    <div class="linux-navigation">
        <a href="{{ path( 'module', {"key": app.request.get('key'), "module": constant("FIT\\Bundle\\ModuleLinuxBundle\\LinuxSectionNames::MODULE_SYSTEM_NAME")} ) }}" class="linux-navigation-link">
            System
        </a>
        >>
        <a href="{{ path( 'dns_resolver', {"key": app.request.get('key')} ) }}" class="linux-navigation-link">
            DNS resolver
        </a>
    </div>

    <div class="linux-submenu">
        <a href="{{ path( 'dns_resolver', {"key": app.request.get('key'), "subsection": constant("FIT\\Bundle\\ModuleLinuxBundle\\LinuxSectionNames::SUBSECTION_DNS_NAME")} ) }}" class="linux-submenu-link-active linux-submenu-link">
            DNS resolver
        </a>
    </div>

{% endblock linuxBodyTitle %}

{% block linuxBodyContent %}

<hr class="cleaner" />
<table id="subsection-content">
    <tr>
        <td id="previous-subsection" class="arrow-navigation" data-path="{{ path( 'system_time_management', {"key": app.request.get('key'), "subsection": constant("FIT\\Bundle\\ModuleLinuxBundle\\LinuxSectionNames::SUBSECTION_NTP_NAME")} ) }}">
            <div class="arrow-navigation-text">Previous</div>
            <i class="fa fa-arrow-left fa-2x" aria-hidden="true"></i>
            <div class="arrow-navigation-text">Ntp</div>
        </td>
        <td id="linux-body-content-dns-resolver" class="content">
            {% if formConfigDnsResolver is defined %}
                {% include 'FITModuleLinuxBundle:DnsResolver:dnsDetail.html.twig' with {'stateArrIsDefined': stateArr is defined, 'formConfigDnsResolver': formConfigDnsResolver} %}
            {% endif %}
        </td>
        <td id="next-subsection" class="arrow-navigation" data-path="{{ path( 'authentication', {"key": app.request.get('key'), "subsection": constant("FIT\\Bundle\\ModuleLinuxBundle\\LinuxSectionNames::SUBSECTION_AUTHENTICATION_NAME")} ) }}">
            <div class="arrow-navigation-text">Next</div>
            <i class="fa fa-arrow-right fa-2x" aria-hidden="true"></i>
            <div class="arrow-navigation-text">User authentication</div>
        </td>
        </tr>
    </table>

{% endblock linuxBodyContent %}

{% block linuxBodyButtons %}
    <button class="btn btn-success save-subsection system-identification">Save</button>
    <button class="btn btn-primary back-to-system-section" data-path="{{ path('module', {"key":app.request.get('key'), "module": constant("FIT\\Bundle\\ModuleLinuxBundle\\LinuxSectionNames::MODULE_SYSTEM_NAME")}) }}">Back</button>
{% endblock linuxBodyButtons %}
